<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <!-- 요기에 구글 머티리얼 아이콘 -->
  <link
    href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
    rel="stylesheet">
  <link rel="stylesheet" href="../static/css/community.css">
  <title> 토닥토닥 </title>
</head>


<body>

<!-- 상단 내비게이션 바 -->
<nav class="navbar fixed-top border-bottom bg-body-subtitle top ">
  <div class="container-fluid">
    
    <p class="mt-2">커뮤니티</p>
    


    <div class="mb-3"> 
      
      <a class="navbar-brand" href="#">
        <img src="../static/icon/알람.png">
      </a>
      <a class="navbar-brand" onclick="stopword()">
        <img src="../static/icon/설정.png">
      </a>
    </div>

  </div>
  


</nav>

<!-- 바디 영역 -->
<div class="container-fluid main_body">
  <div class="modal fade" id="keywordModal" tabindex="-1" role="dialog" aria-labelledby="keywordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="keywordModalLabel">필터링 키워드 입력</h5>

        </div>
        <div class="modal-body">
          <div id="autocomplete-container">
            <div id="tabpanel"></div>
            <div id="autocomplete"></div>
          </div>


          <input type="text" id="contentA" class="form-control" placeholder="학업/고시">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close_modal">Close</button>
          <button type="button" class="btn btn-primary" id="applyKeyword">Apply</button>
        </div>
      </div>
    </div>
  </div>



  </div>
  
  <div class="left_body mt-4" id="list">

    <!--이미지가 없을 경우 -->
    <div class="border feed_box positio" id="post">

    </div>

  </div>
</div>

<div style="margin-top: 80px;"> </div>

<div class="container">

  
  <nav class="navbar fixed-bottom border-top bottom">
    <div class="container-fluid">
      <a class="navbar-brand" href="/test">
        <img src="../static/icon/기록 셀렉x.png">
    </a>
    <a class="navbar-brand"  onclick="window.location.reload()">
      <img src="../static/icon/커뮤니티 셀렉.png">

    </a>
    <a class="navbar-brand" href="#">
      <img src="../static/icon/도움닫기.png">
    </a>
    <a class="navbar-brand" href="/">
      <img src="../static/icon/마이.png">
    </a>
      

</div>



</nav>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

<script src="../static/community.js"></script>
<!-- Option 2: Separate Popper and Bootstrap JS -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
-->

</body>
</html>