<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Grid Example</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link href="../static/css/record_summary.css" rel="stylesheet">

</head>
<body>

  
  <!-- 네비게이션 -->
  <nav class="navbar fixed-top bg-body-tertiary">
    <div class="container-fluid">

    </div>
  </nav>
  <nav class="navbar fixed-top top">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1" href="/test4">&lt; 뒤로</a>
      <a class="navbar-brand mb-0 h1" type="button" id="next" >다음 &gt;</a>
    </div>
    

  
  </nav>

  <div class="p-3 mb-2 bg-subtle text-emphasis-dark ">
    <div class="circle">
      <img src="../static/icon/캐릭터.png">
    </div>
    <div class="container white-bg speech-bubble question">
      <p style="font-size: 13px;">
        의 오늘은 이렇게 정리할 수 있겠다.
      </p>
    </div>
  </div>

  <div class="p-3 mb-2 bg-subtle text-emphasis-dark ">
    <div class="container white-bg speech-bubble question2">
      <p style="font-size: 13px;">
        내용
      </p>
    </div>
  </div>













  
  <div class="inputchat">
    <input class="form-control" id="contentA" rows="1" placeholder="간단한 메모를 남겨보세요."></input>

  </div>
  
  <!-- 입력 창 -->
  <div class="container">

  
    <nav class="navbar fixed-bottom bottom">
      <div class="container-fluid">
        <a class="navbar-brand" href="/test">
          <img src="../static/icon/record.png">
      </a>
      <a class="navbar-brand" href="/community">
        <img src="../static/icon/커뮤니티.png">
  
      </a>
      <a class="navbar-brand" href="#">
        <img src="../static/icon/도움닫기.png">
      </a>
      <a class="navbar-brand" href="/">
        <img src="../static/icon/마이.png">
      </a>
        

  </div>
 
      

  </nav>

  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="../static/record_summary.js"></script>
</body>
</html>
