<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>토닥</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link href="../static/css/record_simple.css" rel="stylesheet">

</head>
<body>

  
  <!-- 네비게이션 -->
  <nav class="navbar fixed-top ">
    <div class="container-fluid">

    </div>
  </nav>
  <nav class="navbar fixed-top top">
    <div class="container-fluid">
      <a class="navbar-brand mb-0 h1" href="/test2">&lt; 뒤로</a>
      <a class="navbar-brand mb-0 h1" type="button" onclick="goToNextPage()" >다음 &gt;</a>
    </div>
    

  
  </nav>

  <!-- <div class="p-3 mb-2 bg-subtle text-emphasis-dark ">
    <div class="circle">
      <img src="../static/icon/캐릭터.png">
    </div>
    <div class="container white-bg speech-bubble question">
      <p style="font-size: 13px;">
        그런 감정을 느꼈구나... 그 감정의 원인을 3개 이하로 알려줘.
      </p>
    </div>
  </div>

  <div class="p-3 mb-2 bg-subtle ">
    <div class="container white-bg speech-bubble myanswer">
      <p style="font-size: 13px;">
          ...
      </p>
    </div>
  </div>



  
  <div class="p-3 mb-2 bg-subtle text-emphasis-dark">
    <div class="circle2">
      <img src="../static/icon/캐릭터.png">
    </div>
    <div class="container white-bg speech-bubble question2">
      <p style="font-size: 13px;">
        감정이나 원인에 대해 더 자세히 알려줄 수 있어?
      </p>
    </div>
  </div> -->


  <div class="p-3 mb-2 mb-5 bg-subtle container-fluid ">
    <div>
      <div class="circle">
        <img src="../static/icon/캐릭터.png">
      </div>
      <div class="container white-bg speech-bubble question">
        <p style="font-size: 13px;">
          그런 감정을 느꼈구나... 그 감정의 원인을 3개 이하로 알려줘.
        </p>
      </div>
    </div>
    

    <div class="bg-subtle ">
      <div class="container white-bg speech-bubble myanswer">
        <p style="font-size: 13px;">
            ...
        </p>
      </div>
    </div>

    <div class="bg-subtle text-emphasis-dark">
      <div class="circle2">
        <img src="../static/icon/캐릭터.png">
      </div>
      <div class="container white-bg speech-bubble question2">
        <p style="font-size: 13px;">
          감정이나 원인에 대해 더 자세히 알려줄 수 있어?
        </p>
      </div>
    </div>
  
  </div>



  
  <div class="inputchat">
    <div class="input-group mb-3">
      <input type="text" id="contentA" class="form-control mx-2 mt-2" placeholder="감정이나 원인에 대해서 기록해보세요" aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn mt-1" type="button" id="button-addon2" onclick="goToNextPage()"> <img src="../static/icon/올리기.png">
      </button>
    </div>
  </div>
  
  <!-- 입력 창 -->
  <nav class="navbar fixed-bottom bottom">
    <div class="container-fluid">
      
      <a class="navbar-brand mx-3" href="/test">
        <img src="../static/icon/기록1.png">
        
    </a>
    <a class="navbar-brand" href="/community">
      <img src="../static/icon/커뮤니티.png">

    </a>
    <a class="navbar-brand" href="#">
      <img src="../static/icon/no마음토닥.png">
    </a>
    <a class="navbar-brand" href="/" style="margin-right: 25px;">
      <img src="../static/icon/마이.png">
    </a>
      
    </div>
 
      

  </nav>

  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="../static/record_simple_tmp.js"></script>
</body>
</html>
