<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>설문조사메뉴</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link href="../static/css/survey.css" rel="stylesheet">
</head>
<body>
    <nav class="navbar fixed-top" style = "background-color:#FFFFFF ;">
        <div class="container-fluid">
          <a class="navbar-brand mb-0 h1" href="/test" >&lt; 뒤로</a>
          <a class="navbar-brand mb-0 h1" href="#" ></a>
        </div>
      </nav>
      <hr class="my-4" style="border: 14px solid black;">
      <a href="{{ url_for('survey') }}">
        <img src="../static/icon/번아웃검사.png" style="height: auto; width: 100%; padding-left: 5%; padding-right: 5%; margin-top: 20px;">
      </a>
      <a href ="{{ url_for('survey_relation')}}">
      <img src="../static/icon/관계중독검사.png" style="height: auto; width: 100%; padding-left: 5%; padding-right: 5%; margin-top: 20px;">
      </a>
      <a href="{{ url_for('survey_panic') }}">
        <img src="../static/icon/공황장애검사.png" style="height: auto; width: 100%; padding-left: 5%; padding-right: 5%; margin-top: 20px;">
      </a>
      <a href ="{{ url_for('survey_stress')}}">
      <img src="../static/icon/외상 후 스트레스장애.png" style="height: auto; width: 100%; padding-left: 5%; padding-right: 5%; margin-top: 20px;">
      </a>
      <div class="container">

  
        <nav class="navbar fixed-bottom bottom">
          <div class="container-fluid">
            <a class="navbar-brand" href="/test">
              <img src="../static/icon/기록1.png">
          </a>
          <a class="navbar-brand" href="/community">
            <img src="../static/icon/커뮤니티.png">
      
          </a>
          <a class="navbar-brand" href="/selfcare">
            <img src="../static/icon/no마음토닥.png">
          </a>
          <a class="navbar-brand" href="/">
            <img src="../static/icon/마이.png">
          </a>
            
    
      </div>

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>
</html>


