@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

  *{
    font-family: 'Noto Sans KR', sans-serif !important;

  }

  .top {
  position: relative;
  height: 80px; 
  border-bottom: 1px solid #E7E7E7; 
  }
  .top a {
    text-align: center;
  }

  #tabpanel {
    position: absolute;
    bottom: 140px; /* Adjust as needed */
    width: 100%; /* Ensure the tabpanel spans the full width */
  }
  
  #autocomplete {
    position: absolute;
    bottom: 140px; /* Adjust as needed */
    margin-top: 20px;
    
    width: 100%; /* Ensure the autocomplete spans the full width */
    background-color: #EAEAEA;
  }
  #autocomplete div {
  
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .bottom {
    height: 100px; 

  }
  
  .tag {
    display: inline-block;
    padding: 2px 8px;
    margin: 4px;
    
    background-color: transparent;
    border: 1px solid #00A8BA; /* Adjust as needed */
    border-radius: 50px; /* Adjust as needed */
    font-size: 0.875em;
    color: #495057;
    
    }

    .tag:hover {
    background-color: #00A8BA; /* Adjust as needed */
    }

    .keyword_list {
      margin: 15px;
    }

    .bg-gray {
      background-color: #f0f0f0;
    }
    
    .white-bg {
      background-color: #ffffff;
      padding: 20px;
    }
    /* 
    .image-box {
      width: 100px; 
      height: 100px; 
      background-color: #cccccc; 
      border: 1px solid #000000;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto; 
    } */

    .bottom-content {

    }
    .emotion-text {
      text-align: center;
      cursor: pointer;
      background-color: #f0f0f0;
      padding: 10px;
      margin: 5px;
      display: inline-block;
    }
    .emotion-text.clicked {
      background-color: #cccccc; /* 클릭시 색 변경 */
    }

    .custom-div {
    height: 250px; /* Adjust as needed */
  
    }

    .circle {         /*기록 보기 아이콘으로 대체될 예정 */
  width: 50px;
  height: 50px;
  background-color: #c2acac;
  border-radius: 50%;
  position: absolute;
  top: calc(15% - 25px); /* Adjust as needed */
  left: 10%;
  transform: translateX(-50%);
}

.circle2 {         /*기록 보기 아이콘으로 대체될 예정 */
    width: 50px;
    height: 50px;
    background-color: #c2acac;
    border-radius: 50%;
    position: absolute;
    top: calc(35% - 25px); /* Adjust as needed */
    left: 10%;
    transform: translateX(-50%);
  }

.question{
    position: absolute;
    background-color: #f0f0f0;
    
    top: calc(13% - 30px); /* Adjust as needed */
    left: 15%;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    width: 220px;
  }
  .question2 {
    position: absolute;
    background-color: #f0f0f0;
    
    top: calc(35% - 50px); /* Adjust as needed */
    left: 15%;
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    width: 220px;
  }


  .myanswer{
    position: absolute;
    background-color: #f0f0f0;
    
    top: calc(17% - 27px); /* Adjust as needed */
    border-radius: 10px;
    padding: 10px;
    margin: 20px;
    width: 280px;
  }

  .myanswer {
    margin-top: calc(25% - 25px); 
    right: 0%;
  }


  

  .question::before { /*말풍선 삼각형*/
    content: "";
    position: absolute;
    left: -17px; 
    top: 50%;
    transform: translateY(-70%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent; 
    border-bottom: 10px solid transparent; 
    border-right: 20px solid #f0f0f0;
  }

  .question2::before { /*말풍선 삼각형*/
    content: "";
    position: absolute;
    left: -17px; 
    top: 50%;
    transform: translateY(-70%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent; 
    border-bottom: 10px solid transparent; 
    border-right: 20px solid #f0f0f0;
  }

  .myanswer::after { /*말풍선 삼각형*/
    content: "";
    position: absolute;
    right: -20px; 
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    border-left: 20px solid #f0f0f0; 
  }
  .inputchat {
  position: fixed;
  left: 15px;
  bottom: 90px; /* Adjust this value based on the height of your navbar */
  width: 92%; /* Ensure the input chat spans the full width */
  
  }

