.home1-bmV {
    align-items: center;
    background-color: #ffffff;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 4.1rem 0rem 0.904rem 0rem;
    position: relative;
    width: 100%;
  
    .auto-group-zatb-7NT {
      align-items: center;
      background-color: #ededed;
      box-sizing: border-box;
      display: flex;
      flex-shrink: 0;
      height: 5.5rem;
      padding: 0.8rem 3.1rem 0.7rem 2rem;
      width: 100%;
  
      .machi-s8f {
        color: #000000;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        line-height: 1.2102272034;
        margin-right: 17.3rem;
        text-align: center;
        white-space: nowrap;
      }
      .auto-group-hr87-6XD {
        align-items: center;
        background-color: #ffffff;
        border-radius: 2rem;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 400;
        height: 100%;
        justify-content: center;
        line-height: 1.2102272511;
        margin-right: 2rem;
        text-align: center;
        white-space: nowrap;
        width: 4rem;
      }
      .auto-group-1fhm-LRZ {
        align-items: center;
        background-color: #ffffff;
        border-radius: 2rem;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 400;
        height: 100%;
        justify-content: center;
        line-height: 1.2102272511;
        text-align: center;
        white-space: nowrap;
        width: 4rem;
      }
    }
    .auto-group-uz8b-noM {
      align-items: center;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      padding: 15.3rem 2rem 2.3rem 2rem;
      width: 100%;
  
      .auto-group-bwkf-Jmh {
        background-color: #ededed;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 5.8rem;
        padding: 1rem 6.8rem 1rem 6.9rem;
        width: 100%;
  
        .item--S7D {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.6rem;
          font-weight: 400;
          line-height: 1.2102272511;
          max-width: 21.3rem;
          text-align: center;
        }
      }
      .polygon-1-eDH {
        flex-shrink: 0;
        height: 3.6rem;
        margin-bottom: 1.2rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.6rem;
      }
      .auto-group-ts8x-moh {
        align-items: center;
        background-color: #ededed;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2.4rem;
        font-weight: 400;
        height: 11.9rem;
        justify-content: center;
        line-height: 1.2102272511;
        margin: 0rem 12.5rem 11.1rem 12.5rem;
        text-align: center;
        white-space: nowrap;
        width: calc(100% - 25rem);
      }
      .auto-group-2ziw-d5D {
        align-items: center;
        background-color: #ededed;
        border-radius: 5rem;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        height: 5.8rem;
        justify-content: center;
        line-height: 1.2102272034;
        margin: 0rem 3.6rem 2rem 3.6rem;
        text-align: center;
        white-space: nowrap;
        width: calc(100% - 7.2rem);
      }
      .auto-group-diew-tWw {
        align-items: center;
        background-color: #ededed;
        border-radius: 5rem;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 2rem;
        font-weight: 400;
        height: 5.8rem;
        justify-content: center;
        line-height: 1.2102272034;
        margin: 0 3.6rem;
        text-align: center;
        white-space: nowrap;
        width: calc(100% - 7.2rem);
      }
    }
    .auto-group-hdg7-y2b {
      align-items: center;
      background-color: #ededed;
      box-sizing: border-box;
      column-gap: 5rem;
      display: flex;
      flex-shrink: 0;
      height: 8.1rem;
      margin-bottom: 0.8rem;
      padding: 1.6rem 2rem 1.5rem 2rem;
      width: 100%;
  
      .auto-group-nhmm-ePd {
        align-items: center;
        background-color: #ffffff;
        border-radius: 2.5rem;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 400;
        height: 100%;
        justify-content: center;
        line-height: 1.2102272511;
        text-align: center;
        white-space: nowrap;
        width: 5rem;
      }
      .auto-group-iemh-LXM {
        align-items: center;
        background-color: #ffffff;
        border-radius: 2.5rem;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 400;
        height: 100%;
        justify-content: center;
        line-height: 1.2102272511;
        text-align: center;
        white-space: nowrap;
        width: 5rem;
      }
      .auto-group-yzf5-2QB {
        align-items: center;
        background-color: #ffffff;
        border-radius: 2.5rem;
        color: #000000;
        display: flex;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        font-size: 1.2rem;
        font-weight: 400;
        height: 100%;
        justify-content: center;
        line-height: 1.2102272511;
        text-align: center;
        white-space: nowrap;
        width: 5rem;
      }
      .auto-group-vyxv-KPH {
        background-color: #ffffff;
        border-radius: 2.5rem;
        box-sizing: border-box;
        flex-shrink: 0;
        height: 100%;
        padding: 1rem 0.8rem;
        width: 5rem;
  
        .item--re7 {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.2rem;
          font-weight: 400;
          line-height: 1.2102272511;
          max-width: 3.4rem;
          text-align: center;
        }
      }
    }
    .line-5-XkF {
      flex-shrink: 0;
      height: 0.1956rem;
      margin-left: 0.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 13.5rem;
    }
  }

  